<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="commercant">
      <h2 data-cy="commercantDetailsHeading"><span jhiTranslate="coopCycleApp.commercant.detail.title">Commercant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ commercant.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.commercant.shopRating">Shop Rating</span></dt>
        <dd>
          <span>{{ commercant.shopRating }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.commercant.isOpen">Is Open</span></dt>
        <dd>
          <span>{{ commercant.isOpen }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.commercant.averageDeliveryTime">Average Delivery Time</span></dt>
        <dd>
          <span>{{ commercant.averageDeliveryTime }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.commercant.openingTime">Opening Time</span></dt>
        <dd>
          <span>{{ commercant.openingTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.commercant.closingTime">Closing Time</span></dt>
        <dd>
          <span>{{ commercant.closingTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.commercant.tags">Tags</span></dt>
        <dd>
          <span>{{ commercant.tags }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.commercant.user">User</span></dt>
        <dd>
          <span>{{ commercant.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.commercant.cooperative">Cooperative</span></dt>
        <dd>
          <div *ngIf="commercant.cooperative">
            <a [routerLink]="['/cooperative', commercant.cooperative?.id, 'view']">{{ commercant.cooperative?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/commercant', commercant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
